set_io Tile_X3Y1_A X3Y1.A
set_io Tile_X3Y1_B X3Y1.B
set_io Tile_X3Y1_C X3Y1.C
set_io Tile_X3Y1_D X3Y1.D
set_io Tile_X3Y1_E X3Y1.E
set_io Tile_X11Y1_A X11Y1.A
set_io Tile_X11Y1_B X11Y1.B
set_io Tile_X11Y1_C X11Y1.C
set_io Tile_X11Y1_D X11Y1.D
set_io Tile_X11Y1_E X11Y1.E
set_io Tile_X3Y2_A X3Y2.A
set_io Tile_X3Y2_B X3Y2.B
set_io Tile_X3Y2_C X3Y2.C
set_io Tile_X3Y2_D X3Y2.D
set_io Tile_X3Y2_E X3Y2.E
set_io Tile_X11Y2_A X11Y2.A
set_io Tile_X11Y2_B X11Y2.B
set_io Tile_X11Y2_C X11Y2.C
set_io Tile_X11Y2_D X11Y2.D
set_io Tile_X11Y2_E X11Y2.E
set_io Tile_X3Y3_A X3Y3.A
set_io Tile_X3Y3_B X3Y3.B
set_io Tile_X3Y3_C X3Y3.C
set_io Tile_X3Y3_D X3Y3.D
set_io Tile_X3Y3_E X3Y3.E
set_io Tile_X11Y3_A X11Y3.A
set_io Tile_X11Y3_B X11Y3.B
set_io Tile_X11Y3_C X11Y3.C
set_io Tile_X11Y3_D X11Y3.D
set_io Tile_X11Y3_E X11Y3.E
set_io Tile_X3Y4_A X3Y4.A
set_io Tile_X3Y4_B X3Y4.B
set_io Tile_X3Y4_C X3Y4.C
set_io Tile_X3Y4_D X3Y4.D
set_io Tile_X3Y4_E X3Y4.E
set_io Tile_X11Y4_A X11Y4.A
set_io Tile_X11Y4_B X11Y4.B
set_io Tile_X11Y4_C X11Y4.C
set_io Tile_X11Y4_D X11Y4.D
set_io Tile_X11Y4_E X11Y4.E
set_io Tile_X3Y5_A X3Y5.A
set_io Tile_X3Y5_B X3Y5.B
set_io Tile_X3Y5_C X3Y5.C
set_io Tile_X3Y5_D X3Y5.D
set_io Tile_X3Y5_E X3Y5.E
set_io Tile_X11Y5_A X11Y5.A
set_io Tile_X11Y5_B X11Y5.B
set_io Tile_X11Y5_C X11Y5.C
set_io Tile_X11Y5_D X11Y5.D
set_io Tile_X11Y5_E X11Y5.E
set_io Tile_X3Y6_A X3Y6.A
set_io Tile_X3Y6_B X3Y6.B
set_io Tile_X3Y6_C X3Y6.C
set_io Tile_X3Y6_D X3Y6.D
set_io Tile_X3Y6_E X3Y6.E
set_io Tile_X11Y6_A X11Y6.A
set_io Tile_X11Y6_B X11Y6.B
set_io Tile_X11Y6_C X11Y6.C
set_io Tile_X11Y6_D X11Y6.D
set_io Tile_X11Y6_E X11Y6.E
set_io Tile_X3Y7_A X3Y7.A
set_io Tile_X3Y7_B X3Y7.B
set_io Tile_X3Y7_C X3Y7.C
set_io Tile_X3Y7_D X3Y7.D
set_io Tile_X3Y7_E X3Y7.E
set_io Tile_X11Y7_A X11Y7.A
set_io Tile_X11Y7_B X11Y7.B
set_io Tile_X11Y7_C X11Y7.C
set_io Tile_X11Y7_D X11Y7.D
set_io Tile_X11Y7_E X11Y7.E
set_io Tile_X3Y8_A X3Y8.A
set_io Tile_X3Y8_B X3Y8.B
set_io Tile_X3Y8_C X3Y8.C
set_io Tile_X3Y8_D X3Y8.D
set_io Tile_X3Y8_E X3Y8.E
set_io Tile_X11Y8_A X11Y8.A
set_io Tile_X11Y8_B X11Y8.B
set_io Tile_X11Y8_C X11Y8.C
set_io Tile_X11Y8_D X11Y8.D
set_io Tile_X11Y8_E X11Y8.E
set_io Tile_X3Y9_A X3Y9.A
set_io Tile_X3Y9_B X3Y9.B
set_io Tile_X3Y9_C X3Y9.C
set_io Tile_X3Y9_D X3Y9.D
set_io Tile_X3Y9_E X3Y9.E
set_io Tile_X11Y9_A X11Y9.A
set_io Tile_X11Y9_B X11Y9.B
set_io Tile_X11Y9_C X11Y9.C
set_io Tile_X11Y9_D X11Y9.D
set_io Tile_X11Y9_E X11Y9.E
set_io Tile_X0Y10_A X0Y10.A
set_io Tile_X0Y10_B X0Y10.B
set_io Tile_X14Y10_A X14Y10.A
set_io Tile_X14Y10_B X14Y10.B
set_io Tile_X14Y10_C X14Y10.C
set_io Tile_X14Y10_D X14Y10.D
set_io Tile_X14Y10_E X14Y10.E
set_io Tile_X14Y10_F X14Y10.F
set_io Tile_X14Y10_G X14Y10.G
set_io Tile_X14Y10_H X14Y10.H
set_io Tile_X14Y10_I X14Y10.I
set_io Tile_X14Y10_J X14Y10.J
set_io Tile_X14Y10_K X14Y10.K
set_io Tile_X0Y11_A X0Y11.A
set_io Tile_X0Y11_B X0Y11.B
set_io Tile_X14Y11_A X14Y11.A
set_io Tile_X14Y11_B X14Y11.B
set_io Tile_X14Y11_C X14Y11.C
set_io Tile_X14Y11_D X14Y11.D
set_io Tile_X14Y11_E X14Y11.E
set_io Tile_X14Y11_F X14Y11.F
set_io Tile_X14Y11_G X14Y11.G
set_io Tile_X14Y11_H X14Y11.H
set_io Tile_X14Y11_I X14Y11.I
set_io Tile_X14Y11_J X14Y11.J
set_io Tile_X14Y11_K X14Y11.K
set_io Tile_X0Y12_A X0Y12.A
set_io Tile_X0Y12_B X0Y12.B
set_io Tile_X14Y12_A X14Y12.A
set_io Tile_X14Y12_B X14Y12.B
set_io Tile_X14Y12_C X14Y12.C
set_io Tile_X14Y12_D X14Y12.D
set_io Tile_X14Y12_E X14Y12.E
set_io Tile_X14Y12_F X14Y12.F
set_io Tile_X14Y12_G X14Y12.G
set_io Tile_X14Y12_H X14Y12.H
set_io Tile_X14Y12_I X14Y12.I
set_io Tile_X14Y12_J X14Y12.J
set_io Tile_X14Y12_K X14Y12.K
set_io Tile_X0Y13_A X0Y13.A
set_io Tile_X0Y13_B X0Y13.B
set_io Tile_X14Y13_A X14Y13.A
set_io Tile_X14Y13_B X14Y13.B
set_io Tile_X14Y13_C X14Y13.C
set_io Tile_X14Y13_D X14Y13.D
set_io Tile_X14Y13_E X14Y13.E
set_io Tile_X14Y13_F X14Y13.F
set_io Tile_X14Y13_G X14Y13.G
set_io Tile_X14Y13_H X14Y13.H
set_io Tile_X14Y13_I X14Y13.I
set_io Tile_X14Y13_J X14Y13.J
set_io Tile_X14Y13_K X14Y13.K
set_io Tile_X0Y14_A X0Y14.A
set_io Tile_X0Y14_B X0Y14.B
set_io Tile_X14Y14_A X14Y14.A
set_io Tile_X14Y14_B X14Y14.B
set_io Tile_X14Y14_C X14Y14.C
set_io Tile_X14Y14_D X14Y14.D
set_io Tile_X14Y14_E X14Y14.E
set_io Tile_X14Y14_F X14Y14.F
set_io Tile_X14Y14_G X14Y14.G
set_io Tile_X14Y14_H X14Y14.H
set_io Tile_X14Y14_I X14Y14.I
set_io Tile_X14Y14_J X14Y14.J
set_io Tile_X14Y14_K X14Y14.K
